/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |  BKSP |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  PSCR  |  | ENTER |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | SPACE|  LOWER |  | RAISE | SPACE| RALT  | RGUI  |

            display-name = "Base";
            bindings = <
&kp ESC         &kp N1  &kp N2  &kp N3        &kp N4        &kp N5                                   &kp N6     &kp N7         &kp N8          &kp N9   &kp N0    &kp BACKSPACE
&kp TAB         &kp Q   &kp W   &kp E         &kp R         &kp T                                    &kp Y      &kp U          &kp I           &kp O    &kp P     &kp MINUS
&kp LEFT_SHIFT  &kp A   &kp S   &kp D         &kp F         &kp G                                    &kp H      &kp J          &kp K           &kp L    &kp SEMI  &kp SQT
&kp LCTRL       &kp Z   &kp X   &kp C         &kp V         &kp B      &kp PRINTSCREEN    &kp ENTER  &kp N      &kp M          &kp COMMA       &kp DOT  &kp FSLH  &kp RSHFT
                                &kp LEFT_ALT  &kp LEFT_GUI  &kp SPACE  &mo 2              &mo 1      &kp SPACE  &kp RIGHT_ALT  &kp RIGHT_META
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |       |     |  7  |  8   |  9   |      |                   | lgui |  pup  |   ^   | pdown| home  |       |
            // |       |  0  |  4  |  5   |  6   |      |                   | lctrl|   <-  |   v   |  ->  |  end  |ls(ctrl)|
            // |   F7  |  F8 |  1  |  2   |  3   |      |        |  |       | del  |   `   |   ~   |  [   |   ]   |   \   |
            //                     |      |      |      |   m3   |  |       |      |       |       |

            display-name = "Raise";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans          &trans          &trans            &trans             &trans
&trans  &trans  &kp N7  &kp N8  &kp N9  &trans                    &trans  &kp PAGE_UP     &kp UP_ARROW    &kp PAGE_DOWN     &kp HOME           &trans
&trans  &kp N0  &kp N4  &kp N5  &kp N6  &trans                    &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW   &kp END            &trans
&trans  &trans  &kp N1  &kp N2  &kp N3  &trans  &trans    &trans  &kp DEL &kp GRAVE       &kp TILDE       &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH
                        &trans  &trans  &trans  &mo 3     &trans  &trans  &trans          &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   ~   |  !  |  @  |  #   |  |   |  ^   |                   |  &   |  [    |  ]    |  %   |   \   |   `   |
            // |   `   |  =  |  <  |  >   |  "   |  '   |                   |  +   |  (    |  )    |  :   |   ;   |   '   |
            // | SHIFT |  _  |  -  |  *   |  $   |  /   |        |  |       | BSPC |  {    |  }    |  ,   |   !   | SHIFT |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Lower";
            bindings = <
&kp F1         &kp F2     &kp F3     &kp F4     &kp F5      &kp F6                                  &kp F7     &kp F8        &kp F9     &kp F10    &kp F11   &kp F12
&kp TILDE      &kp EXCL   &kp AT     &kp HASH   &kp PIPE    &kp CARET                               &kp AMPS   &kp LBKT      &kp RBKT   &kp PRCNT  &kp BSLH  &kp GRAVE
&kp GRAVE      &kp EQUAL  &kp LT     &kp GT     &kp DQT     &kp SQT                                 &kp PLUS   &kp LPAR      &kp RPAR   &kp COLON  &trans    &trans
&kp LEFT_SHIFT &kp UNDER  &kp MINUS  &kp STAR   &kp DOLLAR  &kp FSLH    &trans           &trans     &kp BSPC   &kp LBRC      &kp RBRC   &kp COMMA  &kp EXCL  &kp RSHFT
                                     &trans     &trans      &trans      &trans           &mo 3      &trans     &trans        &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        extra_layer {
            bindings = <
&kp F13   &kp F14    &kp F15    &kp F16    &kp F17    &kp F18                             &bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&kp CAPS  &kp LS(Q)  &kp LS(W)  &kp LS(E)  &kp LS(R)  &kp LS(T)                           &kp LS(Y)    &kp LS(U)     &kp LS(I)     &kp LS(O)     &kp LS(P)     &trans
&trans    &kp LS(A)  &kp LS(S)  &kp LS(D)  &kp LS(F)  &kp LS(G)                           &kp LS(H)    &kp LS(J)     &kp LS(K)     &kp LS(L)     &trans        &trans
&trans    &kp LS(Z)  &kp LS(X)  &kp LS(C)  &kp LS(V)  &kp LS(B)  &trans           &trans  &kp LS(N)    &kp LS(M)     &trans        &trans        &trans        &trans
                                &trans     &trans     &trans     &trans           &trans  &trans       &trans        &trans
            >;

            label = "Extra";
        };
    };
};

